
body {
    background-color: rgba(238, 234, 226, 0.848);
}

.title {
    font-family: BrushGeorgia, "Times New Roman", sans-serif;
    font-size: 120px;
    text-align: center;
}

.div-img {
    position: relative;
    top: 25px;
    bottom: 10px;  
}

.main-image {
    position: absolute; 
}

.list {
    position: relative;
    bottom: 0px;
}

a {
    color: rgb(207, 165, 13);
    font-family: Georgia, "Times New Roman", sans-serif;
    font-size: 36px;
}