/* Index */
body {
    background-color: rgba(238, 234, 226, 0.848);
}

.title {
    font-family: BrushGeorgia, "Times New Roman", sans-serif;
    font-size: 120px;
    text-align: center;
}

.div-img {
    position: relative;
    top: 25px;
    bottom: 10px;  
}

.main-image {
    position: absolute; 
}

.list {
    position: relative;
    bottom: 42px;
}

a {
    color: rgb(207, 165, 13);
    font-family: Georgia, "Times New Roman", sans-serif;
    font-size: 36px;
}

.recipe-imgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
}

p, li {
    font-family: Georgia, "Times New Roman", sans-serif;
    font-size: 20px;
}

/* Enchiladas */

.enchi-h1,
.shawa-h1,
.om-h1 {
    font-family: Georgia, "Times New Roman", sans-serif;
    font-size: 36px;
    text-align: center;
}

.enchi-h1 {
    color: brown;
}
    
/* Shawarma */
.shawa-h1 {
    color: rgb(207, 165, 13);   
}

/* Om Ali */
.om-h1 {
    color: rgb(138, 64, 64)
}